body
	> footer
		background: #333
		padding: 20px 0 95px
		#footer-sidebar
			> .footer-widget
				+make-xs-column(12)
				+make-sm-column(4)
				+make-md-column(4)
				> h4.widget__title
					position: relative
					margin: 28px 0
					height: 36px
					font: bold 16px $font_main
					color: #fff
					text-indent: 12px
					padding-top: 5px
					
					> span
						display: block
						position: absolute
						top: 0
						left: 0
						width: 4px
						height: 30px
						background: #C51C20

				p
					color: #777
					font: bold 15px $font_main

				&.footer-widget--about
					a
						display: block
						width: 50%
					p
						width: 100%
						margin: 20px 0 0



