body
	> footer
		background: #333
		padding: 20px 0 0
		> .container
			padding-bottom: 95px
		#footer-sidebar
			> .footer-widget
				+make-xs-column(12)
				+make-sm-column(4)
				+make-md-column(4)
				> h4.widget__title
					position: relative
					margin: 28px 0
					height: 36px
					font: bold 16px $font_main
					color: #fff
					text-indent: 12px
					padding-top: 5px
					
					> span
						display: block
						position: absolute
						top: 0
						left: 0
						width: 4px
						height: 30px
						background: #C51C20

				p
					color: #777
					font: bold 15px $font_main

				> ul#fotos
					list-style: none
					padding: 0
					> li
						float: left
						display: inline
						width: 30%
						margin: 0 5% 5% 0
						&:nth-child(3n)
							margin-right: 0

				&.footer-widget--about
					a
						display: block
						width: 50%
					p
						width: 100%
						margin: 20px 0 0

		> #redes-sociais
			background: #999
			padding: 10px 0

			> p
				text-align: center

			#redes-sociais__container
				+make-md-column(12)

				> ul#redes-sociais__icons
					float: right

					> li
						display: inline
						float: left
						margin-right: 5px

						> a.icon
							display: block
							@extend .sprite_redes_sociais

							&,
							&:hover
								transition: all 0.2s linear

							&.icon--facebook
								+sprite-define(33px, 33px, -5px, -92px)
								&:hover
									background-position: -5px -135px
							&.icon--instagram
								+sprite-define(33px, 33px, -5px, -178px)
								&:hover
									background-position: -5px -221px
							&.icon--blog
								+sprite-define(33px, 33px, -5px, -5px)
								&:hover
									background-position: -5px -49px
							&.icon--whatsapp
								+sprite-define(33px, 33px, -5px, -264px)
								&:hover
									background-position: -5px -308px
							
			
			> :last-child
				margin-right: 0




